<%- include('src/ejs/partials/_header.ejs') %> 
<form name="feedback" netlify netlify-honeypot="bot-field" hidden>
    <input type="hidden" name="pairing" />
    <input type="radio" name="preferred" />
    <input type="hidden" name="improve" />
    <textarea name="comments"></textarea>
    <input type="email" name="email" />
</form>
<div></div>
<script>
    window.formNode = document.currentScript.previousElementSibling
</script>
<%- include('src/ejs/partials/_footer.ejs') %> 