<% const getIdx = (limit) => Math.floor(Math.random() * limit) %> 
<% const idxs = [getIdx(locals.length), getIdx(locals.length - 1)] %>
<% if (idxs[1] >= idxs[0]) { idxs[1] = (idxs[1] + 1) % locals.length } %> 
<% const songs = [locals[idxs[0]], locals[idxs[1]]] %> 
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <!-- <picture class="background">
        <source srcset="static/images/background.jpg x1, static/images/background@2x.jpg x2" type="image/jpeg">
        <source srcset="static/images/background.jpg.webp x1, static/images/background@2x.jpg.webp x2" type="image/webp">
        <img src="static/images/background.jpg">
    </picture> -->
    <div class="column">
        <picture class="profile">
            <source srcset="static/images/source/background.jpg x1, static/images/source/background@2x.jpg x2" type="image/jpeg">
            <source srcset="static/images/source/background.jpg.webp x1, static/images/source/background@2x.jpg.webp x2" type="image/webp">
            <img src="static/images/source/PhilHarry-8272-cropped.jpg">
        </picture>
        <form name="feedback" netlify netlify-honeypot="bot-field" hidden>
            <input type="radio" name="preferred" />
            <!-- <input type="radio" name="worst" />
            <input type="email" name="email" />
            <textarea name="comments"></textarea> -->
        </form>
        <div></div>
        <script>
            window.formNode = document.currentScript.previousElementSibling
        </script>
    </div>
    <script type="text/javascript" src="build.js"></script>
</body>
</html>