:root {
    --grey: rgb(242,242,242);
    --border: solid 1px rgb(220,220,220);
    --radius: 20px;
}

body {
    font-family: "Inter",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    margin: 0;
    background-image: linear-gradient(cornflowerblue, #FFB6C1);
    color: #222;
    height: 100vh;
}

/* .background img {
    position: fixed;
    width: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
} */

.column {
    display: flex;
    background-color: white;
    width: 1100px;
    position: relative;
    z-index: 1;
    margin: auto;
    height: 100vh;
}

.column h1 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
}

.column > div {
    margin: 20px auto;
}

.profile img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 100vh;
}

form {
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    margin: 0 20px;
    width: 700px;
    margin: auto;
    border: var(--border);
    border-radius: var(--radius);
}

input[type="submit"] {
    margin: 20px auto;
    display: block;
    width: 220px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.songs {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 10px;
    border: var(--border);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
}

.songs h2 {
    font-weight: bold;
    margin: 0 5px 10px;
}

audio {
    outline: none;
}

.songs input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.songs label {
    margin: 10px 0 0;
    width: 220px;
    display: flex;
    justify-content: space-around;
}

.songs .card.selected {
    border: solid 1px #222;
}

.songs .card.selected label {
    background-color: #222;
    color: white;
    border: solid 1px #222;
}

.songs .card:not(.selected) label img {
    opacity: 0;
}

.button {
    cursor: pointer;
    border: var(--border);
    border-radius: 35px;
    font-weight: 300;
    padding: 10px;
    background-color: white;
    font-size: 25px;
    color: #222;
}

.button:hover {
    border: solid 1px #222;
}

@media only screen and (min-height: 800px) {
    .column {
        position: absolute;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .profile img {
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
    }
}